@model IEnumerable<Lppa.Data.Tarjeta>



<meta name="viewport" content="width=device-width" />
<title>ListaClientesMaster</title>

<h2 style="margin-top:70px;">Lista de Clientes con Tarjeta de Crédito MasterCard</h2>

<p>
    @Html.ActionLink("Atras", "Principal")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IDBanco)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IDCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaEmision)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaVencimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Limite)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IDBanco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IDCliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEmision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaVencimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Limite)
            </td>


        </tr>
    }

</table>
