@model IEnumerable<Lppa.UI.Web.ViewModels.ClientesMaster>



<meta name="viewport" content="width=device-width" />
<title>ListaClientesVISA</title>

<h2 style="margin-top:70px;">Lista de Clientes con Tarjeta de Crédito MasterCard</h2>

<p>
    @Html.ActionLink("Atras", "Principal")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MarcaTarjeta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaEmision)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaVencimiento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Limite)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MarcaTarjeta)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.FechaEmision)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaVencimiento)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Limite)
            </td>


        </tr>
    }

</table>