@model Lppa.UI.Web.ViewModels.ContratoViewModel
@{
    ViewBag.Title = "Contacto";
}
<html>
<head>


</head>
<body>

    @Html.Partial("_ProgressBar3")

    <div class="col-md-12">
        <h2 class="page-header">Contacto</h2>
    </div>

    <div>
        @using (Html.BeginForm("Contacto", "Cliente", FormMethod.Post, new { @class = "form", enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="col-md-10">
                @Html.ValidationSummary()
            </div>
            <div class="col-md-10">
                <div class="panel panel-success">
                    <div class="panel-heading panel-title" style="color: white; background-color: rgb(0, 173, 255);">Datos de Contacto</div>
                    <div class="panel-body">
                        <div class="form-group col-md-6">
                            @Html.LabelFor(m => m.Email)
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control required" })
                            </div>
                        </div>
                        @*<div class="form-group col-md-6">
                                @Html.LabelFor(m => m.Telefono)
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-phone-alt"></span>
                                    </span>
                                    @Html.TextBoxFor(m => m.Telefono, new { @class = "form-control required" })
                                </div>
                            </div>*@
                        <div class="form-group col-md-6">
                            @Html.LabelFor(m => m.Celular)
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-phone"></span>
                                </span>
                                @Html.TextBoxFor(m => m.Celular, new { @class = "form-control required" })
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            @Html.Label("Seleccione su Foto")
                            @Html.TextBoxFor(m => m.Imagen, new { type = "file" })
                        </div>
                        <div class="form-group col-md-12">
                            @Html.Label("Seleccione su Firma Electrónica")
                            @Html.TextBoxFor(m => m.FirmaElectronica, new { type = "file" })
                        </div>
                    </div>
                </div>
            </div>


            @*<div class="col-md-12">
                    <input type="submit" class="btn btn-primary pull-right" value="Aceptar" />
                </div>*@

            <div class="form-group">
                <div class="col-md-offset-10 col-md-10">
                    @Html.ActionLink("Continuar", "ImprimirTarjeta", "Contrato")
                </div>
            </div>

        }
    </div>

</body>
</html>