@model Lppa.Data.Cliente

@{
    ViewBag.Title = "Nuevo Cliente";
}


<html>
<head>

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <link href="~/Content/ProgressBar.css" rel="stylesheet" />
</head>
<body>
    <h2 class="NuevoCliente">Nuevo Cliente</h2>
    <div class="progress" style="height:90px;">
        <div class="circle done" style="margin-top:10px;">
            <span class="label">1</span>
            <span class="title">Cliente</span>
        </div>
        <span class="bar done" style="width:150px;"></span>
        <div class="circle done">
            <span class="label">2</span>
            <span class="title">Tarjeta</span>
        </div>
        <span class="bar half" style="width:150px;"></span>
        <div class="circle active">
            <span class="label">3</span>
            <span class="title">Contrato</span>
        </div>
        <span class="bar" style="width:150px" ;></span>
        <div class="circle">
            <span class="label">4</span>
            <span class="title">¡Listo!</span>
        </div>
    </div>

    <div id="pantalla">


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Ingresar Datos del Cliente</h4>
                <hr />
                <div class="col-md-6">
                    <div class="panel panel-success">
                        <div class="panel-heading panel-title" style="background-color:#00adff; color:antiquewhite;">Datos Personales</div>
                        <div class="panel-body">
                            <div class="form-group col-md-6">
                                @Html.LabelFor(m => m.Nombre)
                                @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control required" })
                            </div>
                            <div class="form-group col-md-6">
                                @Html.LabelFor(m => m.Apellido)
                                @Html.TextBoxFor(m => m.Apellido, new { @class = "form-control required" })
                            </div>
                            <div class="form-group col-md-6">
                                @Html.LabelFor(m => m.DNI)
                                @Html.TextBoxFor(m => m.DNI, new { @class = "form-control digits required" })
                            </div>
                            <div class="form-group col-md-6">
                                @{
                                    var estadoCivil = new List<SelectListItem>()
                            {
                                new SelectListItem() {Text = "Soltero", Value = "Soltero"},
                                new SelectListItem() {Text = "Casado", Value = "Casado"}
                            };
                                }
                                @Html.LabelFor(m => m.EstadoCivil)
                                @Html.DropDownListFor(m => m.EstadoCivil, estadoCivil, new { @class = "form-control" })
                            </div>
                            <div class="form-group col-md-6">
                                @{
                                    var sexo = new List<SelectListItem>()
                            {
                                new SelectListItem() {Text = "Masculino", Value = "Masculino"},
                                new SelectListItem() {Text = "Femenino", Value = "Femenino"}
                            };
                                }
                                @Html.LabelFor(m => m.Sexo)
                                @Html.DropDownListFor(m => m.Sexo, sexo, new { @class = "form-control required" })
                            </div>
                            @*<div class="form-group col-md-6">
                                    @Html.LabelFor(m => m.FechaNacimiento)
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>

                                    </div>
                                </div>*@
                            <div class="form-group col-md-6">
                                @Html.LabelFor(m => m.FechaNacimiento)
                                @Html.TextBoxFor(m => m.FechaNacimiento, new { @class = "form-control required" })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="panel panel-success">
                        <div class="panel-heading panel-title" style="background-color:#00adff; color:antiquewhite;">Información Adicional</div>
                        <div class="panel-body">

                            <div class="form-group col-md-6">
                                @{
                                    var opcionesOcupacion = new List<SelectListItem>(){
                                new SelectListItem(){ Text = "Rel. Dependencia", Value = "Relación Dependencia" },
                                new SelectListItem(){ Text = "Monotributista", Value = "Monotributista" },

                            };
                                }
                                @Html.LabelFor(m => m.Ocupacion)
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-education"></span>
                                    </span>
                                    @Html.DropDownListFor(m => m.Ocupacion, opcionesOcupacion, new { @class = "form-control required" })
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                @Html.LabelFor(m => m.Ingreso)
                                @Html.TextBoxFor(m => m.Ingreso, new { @class = "form-control required" })
                            </div>
                            <div class="form-group col-md-6">
                                @Html.LabelFor(m => m.Domicilio)
                                @Html.TextBoxFor(m => m.Domicilio, new { @class = "form-control required" })
                            </div>

                        </div>
                    </div>
                </div>


            </div>
                                    }

    </div>
    <div class="form-group">
        <div class="col-md-offset-10 col-md-10">
            <input type="submit" value="Siguiente" id="btnSiguiente" class="btn btn-default" />

        </div>
    </div>
    <button>
        @Html.ActionLink("Ver Lista", "Index")
    </button>


@section Scripts{
    
    <script>
        $(document).ready(function () {
            $("#btnSiguiente").click(function () {
                $("#pantalla").slideUp();

                //var i = 1;
                //$('.progress .circle').removeClass().addClass('circle');
                //$('.progress .bar').removeClass().addClass('bar');
                //setInterval(function () {
                //    $('.progress .circle:nth-of-type(' + i + ')').addClass('active');
                //    $('.progress .circle:nth-of-type(' + (i - 1) + ')').removeClass('active').addClass('done');
                //    $('.progress .circle:nth-of-type(' + (i - 1) + ') .label').html('&#10003;');
                //});



            });
        });

    </script>
    </script>
    <script id="progressBar">
            $(document).ready(function () {
                var i = 1;
                $('.progress .circle').removeClass().addClass('circle');
                $('.progress .bar').removeClass().addClass('bar');
                setInterval(function () {
                    $('.progress .circle:nth-of-type(' + i + ')').addClass('active');

                    $('.progress .circle:nth-of-type(' + (i - 1) + ')').removeClass('active').addClass('done');

                    $('.progress .circle:nth-of-type(' + (i - 1) + ') .label').html('&#10003;');

                    $('.progress .bar:nth-of-type(' + (i - 1) + ')').addClass('active');

                    $('.progress .bar:nth-of-type(' + (i - 2) + ')').removeClass('active').addClass('done');

                    i++;

                    if (i == 0) {
                        $('.progress .bar').removeClass().addClass('bar');
                        $('.progress div.circle').removeClass().addClass('circle');
                        i = 1;
                    }
                }, 1000);
            });
    </script>
    
    
    }
   
</body>

</html>