@model Lppa.Data.Cliente



@{
    ViewBag.Title = "Nuevo Cliente";
}


<html>
<head>

    <script type="text/javascript" src="js/jquery.min.js"></script>
    @*<script src="~/Scripts/jquery-3.1.1.min.js"></script>*@
    <link href="~/Content/ProgressBar.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
</head>
<body>
    <h2 class="NuevoCliente">Nuevo Cliente</h2>
    
    <!--ProgressBar-->
    <div class="row bs-wizard" style="border-bottom:0;">
        <!-- active -->
        <!-- complete -->
        <!-- disable -->
        <div class="col-xs-3 bs-wizard-step active" id="Paso1">
            <div class="text-center bs-wizard-stepnum">Paso 1</div>
            <div class="progress" id="Paso1Progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot"></a>
            <div class="bs-wizard-info text-center">Datos del Cliente</div>
        </div>

        <div class="col-xs-3 bs-wizard-step disabled" id="Paso2">
            <div class="text-center bs-wizard-stepnum">Paso 2</div>
            <div class="progress" id="Paso2Progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot" id="Punto2"></a>
            <div class="bs-wizard-info text-center">Datos de la Tarjeta</div>
        </div>

        <div class="col-xs-3 bs-wizard-step disabled" id="Paso3">
            <div class="text-center bs-wizard-stepnum">Paso 3</div>
            <div class="progress" id="Paso3Progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot" id="Punto3"></a>
            <div class="bs-wizard-info text-center">Datos del Contrato</div>
        </div>

        <div class="col-xs-3 bs-wizard-step disabled" id="Paso4">
            <div class="text-center bs-wizard-stepnum">Paso 4</div>
            <div class="progress"><div class="progress-bar"></div></div>
            <a href="#" class="bs-wizard-dot" id="Punto4"></a>
            <div class="bs-wizard-info text-center">¡Listo!</div>
        </div>
    </div>

    <!--Pantalla PRINCIPAL-->
    <div id="pantalla">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <h4>Ingresar Datos del Cliente</h4>
                <hr />
                <div class="col-md-6">
                    <div class="panel panel-success">
                        <div class="panel-heading panel-title" style="background-color:#00adff; color:antiquewhite;">Datos Personales</div>
                        <div class="panel-body">
                            <div class="form-group col-md-6">
                                @Html.LabelFor(m => m.Nombre)
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control required" })
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                @Html.LabelFor(m => m.Apellido)
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    @Html.TextBoxFor(m => m.Apellido, new { @class = "form-control required" })
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                @Html.LabelFor(m => m.DNI)
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-chevron-right"></i></span>
                                    @Html.TextBoxFor(m => m.DNI, new { @class = "form-control required" })
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                @{
                                    var estadoCivil = new List<SelectListItem>()
                            {
                                new SelectListItem() {Text = "Soltero", Value = "Soltero"},
                                new SelectListItem() {Text = "Casado", Value = "Casado"}
                            };
                                }
                                @Html.LabelFor(m => m.EstadoCivil)
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </span>
                                    @Html.DropDownListFor(m => m.EstadoCivil, estadoCivil, new { @class = "form-control" })
                                </div>
                               
                            </div>
                            <div class="form-group col-md-6">
                                @{
                                    var sexo = new List<SelectListItem>()
                            {
                                new SelectListItem() {Text = "Masculino", Value = "Masculino"},
                                new SelectListItem() {Text = "Femenino", Value = "Femenino"}
                            };
                                }
                                @Html.LabelFor(m => m.Sexo)
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </span>
                                    @Html.DropDownListFor(m => m.Sexo, sexo, new { @class = "form-control required" })
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                @Html.LabelFor(m => m.FechaNacimiento)
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    @Html.TextBoxFor(m => m.FechaNacimiento, new { @class = "form-control required"})
                                    @*@Html.TextBoxFor(m => m.FechaNacimiento, new { @Value = Model.FechaNacimiento.ToString("dd/MM/yyyy"), @class = "form-control datepicker required"})*@
                                </div>



                            </div>

                            <div class="input-group date" data-provide="datepicker">
                                <input type="text" class="form-control">
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-th"></span>
                                </div>
                            </div>



                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="panel panel-success">
                        <div class="panel-heading panel-title" style="background-color:#00adff; color:antiquewhite;">Información Adicional</div>
                        <div class="panel-body">

                            <div class="form-group col-md-6">
                                @{
                                    var opcionesOcupacion = new List<SelectListItem>(){
                                new SelectListItem(){ Text = "Rel. Dependencia", Value = "Relación Dependencia" },
                                new SelectListItem(){ Text = "Monotributista", Value = "Monotributista" },

                            };
                                }
                                @Html.LabelFor(m => m.Ocupacion)
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-briefcase"></span>
                                    </span>
                                    @Html.DropDownListFor(m => m.Ocupacion, opcionesOcupacion, new { @class = "form-control required" })
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                @Html.LabelFor(m => m.Ingreso)
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                                    @Html.TextBoxFor(m => m.Ingreso, new { @class = "form-control required" })
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                @Html.LabelFor(m => m.Domicilio)
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                    @Html.TextBoxFor(m => m.Domicilio, new { @class = "form-control required" })
                                </div>
                            </div>

                        </div>
                    </div>
                </div>


            </div>
                                    }
        <div class="form-group">
            <div class="col-md-offset-10 col-md-10">
                <input type="submit" value="Siguiente" id="btnSiguiente" class="btn btn-primary" />

            </div>
        </div>

       

    </div>

    <!-- Comienzo PANTALLA 2 -->
    <div id="pantalla2" style="display:none;">

        <h2>PANTALLA 2</h2>



        <div class="form-group" >
            <div class="col-md-offset-10 col-md-10">
                <input type="submit" value="Ir a Paso1" id="btnaPaso1" class="btn btn-info" />
                <input type="submit" value="Siguiente" id="btnSiguiente2" class="btn btn-primary" />
            </div>
        </div>

       

    </div>

    <!-- Comienzo PANTALLA 3 -->
    <div id="pantalla3" style="display:none;">

        <h2>PANTALLA 3</h2>




        <div class="form-group">
            <div class="col-md-offset-10 col-md-10">
                <input type="submit" value="Ir a Paso1" id="btnaPaso2" class="btn btn-info" />
                <input type="submit" value="Siguiente" id="btnSiguiente3" class="btn btn-primary" />
            </div>
        </div>


    </div>

    <!-- Comienzo PANTALLA 4 -->
    <div id="pantalla4" style="display:none;">

        <h2>PANTALLA 4</h2>




        <div class="form-group">
            <div class="col-md-offset-10 col-md-10">
                <input type="submit" value="Ir a Paso1" id="btnaPaso3" class="btn btn-info" />
                <input type="submit" value="Siguiente" id="btnFinalizar" class="btn btn-primary" />
            </div>
        </div>


    </div>


    @*<button>
            @Html.ActionLink("Ver Lista", "Index")
        </button>*@


    @section Scripts{
        <script src="~/Scripts/ProgressBar.js"></script>
        <script>
            $('.datepicker').datepicker();
        </script>
    }

</body>

</html>