@model Lppa.Data.Cliente
@{
    ViewBag.Title = "Nuevo Cliente";

}
<html>
<head>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <link href="~/Content/ProgressBar.css" rel="stylesheet" />
</head>
<body>

    @Html.Partial("_ProgressBar1")

    @using (Html.BeginForm("ValidarVeraz", "Cliente", FormMethod.Post, new { dni = ViewBag.ClienteDNI }))
    {
        <p>Validar DNI: </p>
        <input type="submit" value=@ViewBag.ClienteDNI name="DNI" />

    }
    <button onclick="myFunction()" style="float:right;">Resultado Veraz</button>

    

    @using (Html.BeginForm("DatosCliente", "Cliente", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div id="pantalla">


            <div class="form-horizontal">
                <h2>Ingresar Datos del Cliente</h2>
                <hr />
                <div class="col-md-6">
                    <div class="panel panel-success">
                        <div class="panel-heading panel-title" style="background-color:#00adff; color:antiquewhite;">Datos Personales</div>
                        <div class="panel-body">
                            <div class="form-group col-md-6">
                                @Html.LabelFor(m => m.Nombre)
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    @Html.TextBoxFor(m => m.Nombre, new { @class = "form-control required" })
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                @Html.LabelFor(m => m.Apellido)
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                    @Html.TextBoxFor(m => m.Apellido, new { @class = "form-control required" })
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                @Html.LabelFor(m => m.DNI)
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-chevron-right"></i></span>
                                    @Html.TextBoxFor(m => m.DNI, new { @class = "form-control required" })
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                @{
                                    var estadoCivil = new List<SelectListItem>()
                            {
                                new SelectListItem() {Text = "Soltero", Value = "Soltero"},
                                new SelectListItem() {Text = "Casado", Value = "Casado"},
                                new SelectListItem() {Text = "En Concubinato", Value = "En Concubinato"}
                            };
                                }
                                @Html.LabelFor(m => m.EstadoCivil)
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </span>
                                    @Html.DropDownListFor(m => m.EstadoCivil, estadoCivil, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                @{
                                    var sexo = new List<SelectListItem>()
                            {
                                new SelectListItem() {Text = "Masculino", Value = "Masculino"},
                                new SelectListItem() {Text = "Femenino", Value = "Femenino"}
                            };
                                }
                                @Html.LabelFor(m => m.Sexo)
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-chevron-right"></span>
                                    </span>
                                    @Html.DropDownListFor(m => m.Sexo, sexo, new { @class = "form-control required" })
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                @Html.LabelFor(m => m.FechaNacimiento)
                                <div class="input-group">
                                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                                    @Html.TextBoxFor(m => m.FechaNacimiento, new { @class = "form-control required" })
                                    @*@Html.TextBoxFor(m => m.FechaNacimiento, new { @Value = Model.FechaNacimiento.ToString("dd/MM/yyyy"), @class = "form-control datepicker required"})*@
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading panel-title" style="background-color:#00adff; color:antiquewhite;">Información Adicional</div>
                    <div class="panel-body">
                        <div class="form-group col-md-6">
                            @{
                                var opcionesOcupacion = new List<SelectListItem>(){
                                new SelectListItem(){ Text = "Rel. Dependencia", Value = "Relación Dependencia" },
                                new SelectListItem(){ Text = "Monotributista", Value = "Monotributista" },
                                new SelectListItem(){ Text = "Independiente", Value = "Independiente" },
                                new SelectListItem(){ Text = "En Pasantía", Value = "En Pasantía" },

                            };
                            }
                            @Html.LabelFor(m => m.Ocupacion)
                            <div class="input-group">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-briefcase"></span>
                                </span>
                                @Html.DropDownListFor(m => m.Ocupacion, opcionesOcupacion, new { @class = "form-control required" })
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(m => m.Ingreso)
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-usd"></i></span>
                                @Html.TextBoxFor(m => m.Ingreso, new { @class = "form-control required" })
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            @Html.LabelFor(m => m.Domicilio)
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                                @Html.TextBoxFor(m => m.Domicilio, new { @class = "form-control required" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        @*<div class="form-group">
            <div class="col-md-offset-11 col-md-10">*@
                <input type="submit" value="Guardar" id="btnSiguiente" class="btn btn-primary" />
            @*</div>
        </div>*@

       

                                }

    <div style="margin-left:95%";>
        @*<div class="col-md-offset-10 col-md-10">*@
            @Html.ActionLink("Continuar", "TarjetaCliente", "Tarjeta", new { cliente = ViewBag.Cliente, dni = ViewBag.ClienteDNI }, null)
        @*</div>*@
    </div>

    @section Scripts{
        <script>
            function myFunction() {
                alert("@ViewBag.Veraz");
            }
        </script>
    }
</body>
</html>
